// Define variables for your color scheme

// For example:
$gray: #4C4C4C;
$light-gray: #696969;
$black: #252525;
$white: #FFFFFF;
$viridian: #3E8767;
$cambridge: #6CAC90;
$tea: #C7F0BD;

$light-gray:rgb(190, 190, 190);
$blue:rgb(158, 208, 248);
$green: #66a37b;
$yellow: rgb(255, 245, 151);
$red: rgb(250, 129, 99);
$orange: rgb(250, 168, 61);
