<div class="mt-5">
  <p>Delete Account</p> <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn" %>
</div>
