// Specific CSS for your home-page

.banner {
  background-color: #3E8767;
  text-align: center;
  height: 80vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-family: $headers-font;

}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #C7F0BD;
}
.banner p {
  font-size: 24px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}

.btn {
  border-radius: 10px;
}

.border-radius {
  border-radius: 10px;
}

.title-index-padding {
  padding-bottom: 30px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 80px;
  padding: 1rem;
  width: 1500px;
  height: auto;
  margin-bottom: 40px;
  margin-top: 20px;

  .card {
  background-color: #DCF4D6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; // Cards will expand to fill the grid cells

  }
  .image{
   width: 100%;
   display: block;
   height: auto;
  }
}
