// Specific CSS for your home-page

.banner {
  background-color: #3E8767;
  text-align: center;
  height: 80vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-family: $headers-font;

}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #C7F0BD;
}
.banner p {
  font-size: 24px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}

.btn {
  border-radius: 10px;
}

.border-radius {
  border-radius: 10px;
}

.title-index-padding {
  padding-bottom: 30px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 80px;
  padding: 1rem;
  width: 1500px;
  height: auto;
  margin-bottom: 40px;
  margin-top: 20px;

  .card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px;
  width: 100%; // Cards will expand to fill the grid cells

  &:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
    box-shadow: 10px 30px 50px $viridian (39,44,49,.07), 1px 6px 12px $viridian(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
  }

  }
  .image{
   width: 100%;
   display: block;
   height: auto;
  }
}

.logo_banner {
  border-radius: 50%;
}

#price {
  position: flex;
  justify-content: right;

}
