footer {
  background-color: white;
  padding: 8px 0;
  margin-top: 60px;
  font-family: $body-font;
}

.card { background-color: white;
  border-style: none;
}

.container {
  width: 1170px;


}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

footer ul {
  margin-top: 10px;
  list-style-type: none

}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

footer p {
  margin-top: 17px;
}

footer a {
  color: black;
  transition: color 0.5s ease;
}

footer a:hover {
  color: #C7F0BD;
}

p {
margin: 0 0 10px;
}
