/* Navbar container */
.navbar {
  background-color: white;
}

/* Brand logo */
.navbar-brand img.logo {
  max-height: 40px; /* Adjust the logo size as needed */
  border-radius: 50%;
  margin-left: 15px;

}

/* Navigation links */
.navbar-nav .nav-link {
  color: #333333; /* Change link color */
}

.navbar-nav .nav-link:hover {
  color: $tea; /* Change link hover color */
}

/* Toggler icon color */
.navbar-toggler-icon {
  background-color: #333333; /* Change toggler icon color */
}

/* Dropdown menu */
.dropdown-menu {
  background-color: #ffffff; /* Change dropdown menu background color */
}

.dropdown-menu .dropdown-item {
  color: #333333; /* Change dropdown item color */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa; /* Change dropdown item hover background color */
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    .form-inline {
      display: flex;
      align-items: center; /* Align form items vertically */
  }

  .form-control {
      margin-right: 10px; /* Adjust spacing between input and button */
      border-radius: 5px; /* Add border-radius for input */
      padding: 5px; /* Adjust padding as needed */
  }

  .character_btn_search {
      border-radius: 5px; /* Add border-radius for button */
      padding: 5px 10px; /* Adjust padding as needed */

  }


}

.search-navbar {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: flex-start; /* Align items to the top */
  height: 100%;
  border: none;

  .search-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .search-bar {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px;
  }

  .form-inline {
      display: flex;
      align-items: center; /* Align form items vertically */
  }

  .form-control {
      margin-right: 10px; /* Adjust spacing between input and button */
      border-radius: 5px; /* Add border-radius for input */
      padding: 5px; /* Adjust padding as needed */
  }

  .character_btn_search {
      border-radius: 5px; /* Add border-radius for button */
      padding: 5px 10px; /* Adjust padding as needed */
      text-decoration: none;
      border: none;
      font-family: $body-font;
      background-color: white;
  }

  .character_btn_search:hover {
    background-color: white; /* Change button hover background color */
    color: $viridian; /* Change button hover text color */
  }
}


.home-navbar {
  display: flex;
  justify-content: flex-start;

}

.home-navbar ul li a {
  text-decoration: none;
  font-family: $body-font;
  background-color: white;
  color: black;
  margin-right: 980px;
}

.home-navbar ul li a:hover {
  background-color: white; /* Change button hover background color */
  color: $viridian; /* Change button hover text color */
}
