<footer class="footer">
  <div class="footer-container">
    <div>
      <div class="text">
        <ul class="footer-nav">
          <li>&copy; <%= Time.now.year %> Imaginanny</li>
          <li> • </li>
          <li><a href="#" class="link">About Us</a></li>
          <li> • </li>
          <li><a href="#" class="link">Terms of Service</a></li>
          <li> • </li>
          <li><a href="#" class="link">Privacy Policy</a></li>
          <li> • </li>
          <li><a href="https://facebook.com/example"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/example"><i class="fab fa-twitter"></i></a></li> <!-- Add more navigation links as needed -->
        </ul>
        <%# <a href="mailto:info@imaginanny.com">info@imaginanny.com</a> or call us at +1234567890. %>
        <%# <ul class="social-media-links">
          <li><a href="https://facebook.com/example"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/example"><i class="fab fa-twitter"></i></a></li> <!-- Add more social media links as needed -->
        </ul> %>
      </div>
      <%# <div class="col-md-6">
        <ul class="footer-nav">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li> <!-- Add more navigation links as needed -->
        </ul> %>
        <%# <form class="subscribe-form" action="/subscribe" method="post">
          <input type="email" name="email" placeholder="Your email address">
          <button type="submit">Subscribe</button>
        </form> %>
      </div>
    </div>
  </div>
</footer>
