<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "nanny.jpg", class: "logo" %>
    <% end %>
    <div class="home-navbar">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "My Profile", :dashboard %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>

    <div class="navbar-search" id="navbarSupportedContent">

        <div class="search-navbar">
          <div class="search-bar p-2 d-flex flex-lg-row ">
            <form action="/characters" class="form-inline padded">
            <input type="text" class="form-control border-radius input-lg" placeholder="Find your Imaginanny">
            <input type="submit" class="character_btn_search p-2" value="Search">
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
