<html>
<head>
  <title>Your Website</title>
  <!-- Include your CSS and other header content here -->
</head>
<body>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%);">
  <div class="banner-content">
<h1>Imaginanny</h1>
    <p>Enchanted Care for your Little One</p>

  <div class="search-bar">
    <form action="/beds" class="form-inline padded">
      <input type="text" class="form-control border-radius input-lg" placeholder="Paris">
      </select>
      <input type="submit" class="btn btn-lg" value="Search">
    </form>
  </div>
  </div>
</div>
<div class="container">
<div class="row">
<div class="cards card">
<div class="card">
<img src= >
</div>
<div class="card">E</div>
<div class="card">L</div>
<div class="card">P</div>

</div>
</div>
<%= render 'shared/footer' %>
<!-- Your main content for the home page goes here -->
</body>
</html>
