
<h1 class="character_head">Create Character</h1>
<p></p>
<div class="container">
<%= render 'form', character: @character %>
</div>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Looking for an imaginnany!</title>
</head>

<body>
  <div class="container">
    <h1 class="mt-5">Add a new sitter!</h1>
    <p>Add a new imaginnany </p>
    <div class="container">
    <%= render 'form', character: @character %>
    </div>
  </div>
  </body>
</html>
